$main-view-padding: 0.75rem;
$global-nav-height: 64px;
$side-nav-width-expanded: 360px;
$global-border-radius: 6px;
$panel-gap: 8px;
$scrollbar-width: 6px;
$side-nav-width: calc(72px + $scrollbar-width);
$scrollbar-content-padding: calc($scrollbar-width);
$global-card-padding: 12px;