<div class="h-full flex justify-content-center align-items-center p-3">
  <p-card class="w-full max-w-auth-card">
    <img src="svgs/soundcloud.svg" class="h-5rem md:h-6rem mx-auto"/>
    <h1 class="mt-0 mb-5 text-center text-2xl md:text-3xl">Login into Soundcloud</h1>
    @if (error()) {
      <div class="flex gap-3 align-items-center bg-red-400 px-4 py-2 mb-5 -mt-2 border-round-sm">
        <i class="pi pi-info-circle" style="font-size: 1.25rem;"></i>
        <span>{{error()}}</span>
      </div>
    }
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full md:w-8 mx-auto">
      <div class="form-group">
        <label for="email">Email address</label>
        <input 
          [class.is-invalid]="email.invalid && (email.touched || email.dirty || isFormSubmitted())"
          class="form-control"
          pInputText 
          formControlName="email" 
          id="email"/>
          @if (email.invalid && (email.touched || email.dirty || isFormSubmitted())) {
            <div class="message-block">
              @if (email.hasError('required')) {
                <span class="error-message">Email is required</span>
              } @else if (email.hasError('email')) {
                <span class="error-message">Please provide valid email</span>
              } @else if (email.hasError('maxlength')) {
                <span class="error-message">Email should be under 256 characters</span>
              }
            </div>
          }
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <p-password 
          [inputStyleClass]="(password.invalid && (password.touched || password.dirty || isFormSubmitted())) ? 'is-invalid w-full' : 'w-full'"
          styleClass="w-full" 
          [feedback]="false"
          [toggleMask]="true"
          formControlName="password"
          inputId="password"/>
          @if (password.invalid && (password.touched || password.dirty || isFormSubmitted())) {
            <div class="message-block">
              <span class="error-message">Password is required</span>
            </div>
          }
      </div>
      <div class="form-group relative">
        <div>
          <p-checkbox 
           formControlName="rememberMe"
           [binary]="true"
           [value]="true"
           inputId="rememberMe"
          />
          <label for="rememberMe" class="ml-2 mb-0">Remember Me</label>
        </div>
        <a routerLink="/forgot-password" class="absolute right-0 top-0">Forgot password?</a>
      </div>
      <p-button type="submit" label="Login" styleClass="w-full font-medium my-3"></p-button>
    </form>
    <div class="text-center">
      <span>New to SoundCloud? <a routerLink="/register">Create an account</a></span>
    </div>
  </p-card>
</div>