<div class="layout scrollable scrollbar-vertical" (scroll)="onScroll($event)">
  <header class="header">
    <div class="h-full flex align-items-center gap-3 px-4">
      @for (filter of filterTypes; track $index) {
        <button 
          (click)="setFilter(filter)" 
          class="font-medium text-sm px-3 py-1 filter-btn" 
          [class.active]="filter === currentFilter()">
          {{filter}}
        </button>
      }
    </div>
  </header>
  <section class="content-layout">
    <div class="grid-container-header">
      @for (song of songs()?.items; track $index) {
        @if ($index < 4) {
          <app-card-mini [title]="song.name" [imgSrc]="song.photoUrl ?? ''" [link]="'/songs/' + song.songId "/>
        }
      }
    </div>
    <section class="content-section" id="">
      <div>
        <div class="flex justify-content-between align-items-center">
          <div>
            <h2 class="text-lg md:text-2xl">Recommended for today</h2>
          </div>
          <p-button label="Show all" [link]="true" styleClass="text-sm md:text-base"></p-button>
        </div>
      </div>
      <div class="grid-container">
        @for (playlist of playlists()?.items; track playlist.playlistId) {
          <app-playlist-card [playlist]="playlist"/>
        }
      </div>
    </section>
    <section class="content-section">
      <div>
        <div class="flex justify-content-between align-items-center">
          <div>
            <h2 class="text-lg md:text-2xl">Recommended today</h2>
          </div>
          <a routerLink="/show-all" label="Show all" class="text-sm md:text-base">Show All</a>
        </div>
      </div>
      <div class="grid-container">
        @for (song of songs()?.items; track song.songId + song.name) {
          <app-track-card [song]="song"/>
        }
        @for (song of songs()?.items; track song.songId + song.name) {
          <app-track-card [song]="song"/>
        }
        @for (song of songs()?.items; track song.songId + song.name) {
          <app-track-card [song]="song"/>
        }
      </div>
    </section>
    <section class="content-section">
      <div>
        <div class="flex justify-content-between align-items-center">
          <div>
            <h2 class="text-lg md:text-2xl">Recommended today</h2>
          </div>
          <p-button label="Show all" [link]="true" styleClass="text-sm md:text-base"></p-button>
        </div>
      </div>
      <div class="grid-container">
        @for (song of songs()?.items; track song.songId + song.name) {
          <app-track-card [song]="song"/>
        }
      </div>
    </section>
    <section class="content-section">
      <div>
        <div class="flex justify-content-between align-items-center">
          <div>
            <h2 class="text-lg md:text-2xl">Recommended today</h2>
          </div>
          <p-button label="Show all" [link]="true" styleClass="text-sm md:text-base"></p-button>
        </div>
      </div>
      <div class="grid-container">
        @for (song of songs()?.items; track song.songId + song.name) {
          <app-track-card [song]="song"/>
        }
      </div>
    </section>
  </section>

</div>
